@font-face {
    font-family: Helvetica_Now_Display_Black, sans-serif;
    src: url('../fonts/Monotype\ \ -\ Helvetica\ Now\ Display\ Black.otf');
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
}
@font-face {
    font-family: Helvetica_Now_Display_Bold, sans-serif;
    src: url('../fonts/Monotype\ \ -\ Helvetica\ Now\ Display\ Bold.otf');
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
}
@font-face {
    font-family: Helvetica_Now_Display_Medium, sans-serif;
    src: url('../fonts/Monotype\ \ -\ Helvetica\ Now\ Display\ Medium.otf');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
}
@font-face {
    font-family: Helvetica_Now_Display_, sans-serif;
    src: url('../fonts/Monotype\ \ -\ Helvetica\ Now\ Display\ Light.otf');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
}