// @media (min-width: 320px) {
//     .menu{
        
//     }   
// }
@media (min-width: 768px) {
    .container{
        max-width: 760px;
    }
    .footer{
        &__items{
            flex-direction: row;
            justify-content: space-between;
        }
        &__links{
            margin-bottom: 0;
            order: 3;
        }
        &__social-items{
            width: auto;
        }
    }
    .career{
        &__title{
            font-size: 56px;
            line-height: 62px;
        }
        &__text{
            max-width: 540px;
        }
    }
    .section-inner{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 80px 0;
    }
    .section-title{
        width: 100%;
    }
    .about,
    .recruitment{
        &__text{
            max-width: calc((100% / 2) - 32px);
        }
    }
    .roles{
        &__gallery-row{
            gap: 10px;
        }
        &__gallery-item{
            width: 189px;
            height: 106px;
        }
        &__btn{
            margin-left: 50px;
        }
    }
}

@media (min-width: 1440px) {
    .container{
        max-width: 1290px;
    }
    .header{
        &__contact-btn{
            display: block;
        }
        &__btn{
            display: none;
        }
        &__contact-btn{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 156px;
            height: 48px;
            line-height: 24px;
            font-weight: 700;
            color: #fff;
            border: 2px solid $primary;
            border-radius: 383px;
        }
    }
    .menu{
        width: 100%;
        position: relative;
        height: inherit;
        top: 0;
        left: 0;
        transform: translateX(0%);
        background: transparent;
        &__list{
            flex-direction: row;
            top: 0;
            bottom: 0;
            justify-content: center;
        }
        &__item{
            margin-right: 36px;
            &:last-child{
                margin-right: 0;
            }
        }
        &__item-link--active{
            color: $primary;
        }
        &__item-link{
            font-size: 16px;
        }
    }
    .footer{
        &__social-items{
            order: 3;
        }
    }
    .career{
        &__inner{
            flex-direction: row;
        }
        &__title{
            max-width: 430px;
            margin-right: 50px;
        }
        &__text{
            max-width: 576px;
        }
    }
    .section-inner{
        padding: 100px 0;
    }
    .section-title{
        font-size: 62px;
        line-height: 56px;
        font-weight: 800;
        max-width: calc((100% / 3) );
    }
    .about{
        &__text{
            max-width: calc((100% / 3) - 45px);
        }
    }
    .recruitment{
        .section-inner{
            display: grid;
            grid-template: 1fr 1fr / 1fr 1fr;
        }
        .section-title{
            grid-row: 1/3;
        }
        &__text{
            max-width: 100%;
            margin-bottom: 0;
            &:last-child{
                margin-top: -40px;
            }
        }
    }
    .roles{
        z-index: 1;
        &__gallery-row{
            gap: 20px;
        }
        &__gallery-item{
            width: 378px;
            height: 212px;
            position: relative;
            cursor: pointer;
            &:hover{
                .roles__gallery-hover-link{
                    opacity: 1;
                }
            }
        }
        &__gallery-hover-link{
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            background: rgba($primary, .9);
            font-weight: 800;
            font-size: 28px;
            color: #020213;
            opacity: 0;
            transition: all .2s ease-in-out;
        } 
        &__btn{
            display: none;
        }
    }
}

@media (min-width: 1920px) {
    .container{
        max-width: 1330px;
    }   
}